body {
    background-color: #F3EE10;
    height: 100%;
    width: 100%;
  }
  
  #pokeLogo {
    width: 700px;
    height: 250px;
    margin-top: 50px;
    margin-left: 400px;
  }
  

  #resultTextChange {
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    padding: 0;
    margin-top: 60px;
    margin-right: 40px;
    font-size: 30px;
  }
  
  .fullGrid {
    height: 750px;
    width: 450px;
    margin-top: 20px;
    margin-bottom: 100px;
    border: 5px dotted #000;
  }
  
  .leftGrid {
    float: left;
    margin-left: 280px;
  }
  
  #pokemon {
    height: 275px;
    width: 375px;
    margin-top: 10px;
    margin-left: 40px;
  }
  
  .answerImage {
    height: 275px;
    width: 375px;
    margin-top: 10px;
    margin-left: 40px;
    visibility: hidden;
  }
  
  #bulbasaur {
    margin-top: -350px;
  }
  
  #ivysaur {
    padding-bottom: 350px;
  }
  
  #venusaur {
    padding-bottom: 300px;
  }
  
  #charmander {
    padding-bottom: 440px;
  }
  
  #charmeleon {
    padding-bottom: 440px;
  }
  
  #charizard {
    padding-bottom: 270px;
  }

  #squirtle {
    padding-bottom: 440px;
  }

  #wartortle {
    padding-bottom: 440px;
  }

  #blastoise {
    padding-bottom: 440px;
  }

  #articuno {
    padding-bottom: 440px;
  }

  #zapdos {
    padding-bottom: 440px;
  }

  #moltres {
    padding-bottom: 440px;
  }

  #mewtwo {
    padding-bottom: 440px;
  }

  #team_rocket {
    padding-bottom: 440px;
  }

  .rightGrid {
    float: left;
    border-left: none;
    margin-left: 5px;
  }
  
  .gridText {
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    font-size: 25px;
    line-height: 60px;
  }
  